/* You can add global styles to this file, and also import other style files */
$body-bg: rgb(182, 182, 238);
$body-color: rgb(122, 132, 139);

$theme-colors:(
  'primary':rgb(164, 219, 164),
  'danger':rgb(228, 140, 140)
);

$enable-rounded: false;

@import '../node_modules/bootstrap/scss/bootstrap';
